html,body{
    background-color: black;
    display:flex;            
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: wheat;
}
#checkbox{
    position: fixed;
    z-index: 100;
    width: 150px;
    top:50px;
    right: 0px;
}
img{
    width: 250px;
    object-fit: contain;
}
#photo{
    background-color: rgb(23, 37, 97);
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#parent{
    background-color: rgb(18, 31, 87);
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grand_parent{
    background-color: rgb(10, 20, 65);
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#great_grand_parent{
    background-color: rgb(4, 11, 42);
    width: 450px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}
h3,p{
    display: block;
    margin: 0px;
}
h5{
    margin-bottom: 0px;
}
div,img{
    transition: 0.7s ease;
}